<div class="page-header">
  <h1>Shorty URL <small>Enter a url to turn it into a shorty.</small></h1>
</div>

<%= form_for @url, :class => 'form-inline' do |f| %>
  <div class='input-group input-group-lg'>
    <%= f.label :long, :class => 'sr-only' %>
    <%= f.text_field :long, :class => 'form-control input-lg' %>
    <span class="input-group-btn">
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </span>
  </div>
<% end %>